@import 'Colors';

.company{
    color:$secondary;
    width: 100%;
    display: flex;
    flex-direction: row;
    width:430px;
    >.comp-logo
    {
        align-items: center;
        display: flex;
        justify-content: center;
    >img{
        margin-right: 1rem;
        width:9rem;
        align-items: center;
        display: flex;
        justify-content: center;
    }
    }
    line-height: 1rem;
}