@import 'Colors';

.experience
{
    padding: 7rem;
    >.title{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-bottom: 4rem;
    >h2{
        color:$secondary;
    }
    }
    > .companies{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}