@media screen and (max-width:700px) {
    nav{
        >.header{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        >h1{
            text-align: center;
            margin: 0;
        }
        >.routes{
            justify-content: center;
            margin: 0;
            >a{
                // padding: 0.5px;\
                margin:0;
                padding-right: 5px;
                padding-left: 5px;
                padding-top: 10px;
            }
        }
        }
    }
    .des-box {
        flex-direction: column;
        align-items: center;
        justify-content: center;

        >.description {
            width: 100%;
            border-radius: 0px;
            margin: 0;
            padding-right: 0;
            padding-left: 0;
            padding-top: 50px;
            padding-bottom: 50px;

            >p {
                padding-left: 10px;
                padding-right: 10px;
                flex-wrap: wrap;
                font-size: 0.9rem;
                word-wrap: break-word;
                margin-top: 10px;
            }
        }

        .skills {
            justify-content: center;
            align-items: center;
            margin-right: 0;
        }
    }

    .bio {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        // margin-left:-12px;
    }

    .detail {
        width: 100%;
        margin-right: 0;
        padding-right: 0;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        > .education {
            line-height: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
            width: 100%;
            border-radius: 0;
             > .institute{
                >h3{
                    line-height: 1.5rem;
                }
                padding:1px;
            }
        }
    }
    .education{
        border-radius: 0;
        width: 100%;
        margin-left: 0;
        margin-right:0;
        padding:0;
        line-height: 1rem;
        padding-bottom: 5px;
        margin-bottom: 4rem;
        >.institute{
            line-height: 1.2rem;
            text-align: center;
        }
    }
    .experience{
        flex-direction: column;
        display: flex;
        width:100%;
        justify-content: flex-start;
        padding:0;
        margin: 0;
        >.companies{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            >.company{
                width:100%;
                margin-bottom: 4rem;
                // border:1px solid black;
                >.comp-logo{
                    margin-left: 1rem;
                }
                
            }
        }
    }
}